<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chsrset="UTF-8">
        <meta name="viewport" content="width=device-width,intial-scale=1">
        <mata name="description" content="Traditional literature of Ethiopia">
        <meta name="keyword" content="html">
        <title>Ask-question</title>
    </head>
    <body >
<!-- header starts-->

<table bgcolor="#d98c8c"  height="40px" width="100%">
    <th>
        <td width="60%" <p align="left"> Lets know more about Ethiopian literature</p>  
        </td>
    </th>
    <th><td align="right" width="40%">
         <button onclick="window.location.href='feedback.html'">Feedback</button>
         <button onclick="window.location.href='Ask question.html'">Ask question</button>   
      </td></th>
</table>
<table width="100%"  height="10px" bgcolor="#f3ca20">
    <th><td width="2%"></td></th>
    <td width="30%"> <img src="logo.PNG" width="55",height="65">, <p> Yeneta</p></td>
<th >
     <td width="5%" align="center"><a href="home.html">Home</a></td>
     <td width="5%" align="center"><a href="felit.html">Felit</a></td>
     <td  width="5%" align="center"><a href="kne.html">Kne</a></td>
     <td  width="15%" align="center"><a href="misaleyawi.html">Misaleyawi anegager</a></td>
     <td  width="8%" align="center"><a href="enkoklish.html">Enkoklish</a></td> 
</th>
 <th ><td width="30%"></td></th>
</table>
<!-- main starts--> 
<table width="100%" height="400px">
    
    <tr>
        <br>
        <td width="10%"></td>
        <td width="40%" valign="top">
        <pre><h1> Let us know how you'd like 
            to stay in touch.</h1></pre><br>
            <pre> 
               <h3>stay in loop with news about the YENETA web and 
                let us know if you have any question here.</h3> 
            </pre>
</td>
        <td width="40%" valign="top">
            <h2>Enter your question here</h2>
            <form action="" method="post" >
                <fieldset>
                    <legend>Question form</legend>
                   <label for="name"><b>Email</b></label>
                   <input type="email" placeholder="Enter your email" name="email" required><br><br>

                   <label for="fname"><b>First name</b></label>
                   <input type="text" placeholder="Enter your first name" name="fname" required ><br><br>

                   <label for="lname"><b>Lastname</b></label>
                   <input type="text" placeholder="Enter your last name" name="lname" required ><br><br>
                   <textarea rows="10" cols="50" placeholder="Enter your question"></textarea><br>

                <button type="submit">Submit</button><br>
               </fieldset>
             </form>
</td>
        <td width="10%"></td>
    </tr>
    <tr>
</tr>
</table>
<table bgcolor="#d98c8c">
    <th><td  width="25%">
        <img src="logo.PNG" width="55",height="65">
        <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Contact us</h4>
        <address>
           
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;+251900000000<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;+251900000000<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Ethiopia, Addis Ababa,<br>
 
            
        </address> 
        
        <th><td align="center" width="75%"> 
           <h4>follow us</h4>
           <ul type="none">
               <li><a href="http://www.facebook.com">facebook</a></li>
               <li><a href="http://www.telegram.com">Telgram</a></li>
               <li><a href="http://www.instagram.com">Instagram</a></li>
               
           </ul>
           
       </td></th>
   </td></th>
</table>        

        </table>
    <table bgcolor="#d98c8c">
                    
        <th>
            <td  width="10%"></td>
            
            <td colspan="2" width="55%" align="center"><small>copyright &copy yeneta literature,All right are reserved.</small></td>
            <td width="10%"></td>
            <td width="25%"align="right"><a href="privacy.html">Privacy</a>&ensp;<a href="termsofuse.html">Terms of Use</a></td>
        </th>
        
    </table>
</main>














       </body>
       </html>