<!doctype html>
<html lang="en">

<head>
    <title>መጽሃፍቶች</title>
    <link rel="stylesheet" href="../../../Resources/CSS/books.css">
</head>

<body>
   
    <div class="wrapper">
        <br><br>
       <div class=" header"> 
        <div class="logo">
            <a href="../Home/EN.html"><img src="../../../Resources/Images/left-arrow.png" width="5%" height="auto"></a>
            <h1 align="center"><big><strong>የኔታ</strong></big></h1>
 
        </div>


        <div class="nav">
            <form>
                <input type="text"placeholder=" መፈለጊያ..." name="search">
                <button type="submit">ፈልግ</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </form>
        </div>

    </div>
<br><br>
        <div class="container">

            <div class="row1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <img src="../../../Resources/Images/3.jpg" width="200px" height="auto">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="../../../Resources/Images/5.jpg" width="200px"height="auto">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <img src="../../../Resources/Images/1.jpg" width="200px"height="auto">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
                    <img src="../../../Resources/Images/3.jpg" width="200px"height="auto">
                    
                </div>

                    <br>

           <div class="btn"> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
           </div> 
               <br> 

            <div class="row2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="../../../Resources/Images/6.jpg" width="200px"height="auto">
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <img src="../../../Resources/Images/9.jpg" width="200px"height="auto">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <img src="../../../Resources/Images/10.jpg" width="200px"height="auto">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img src="../../../Resources/Images/17.jpg" width="200px"height="auto">


                  </div>

                <br>
                <div class="bttn">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
             </div>

          </div>
        </div>
          <br><br>

        <div class ="footer">
            <p align="center">this for some info</p>
            <p align="center">እኛን ለማግኛት<br><br>+251-28022022<br><a href="https://email/yeneta">yeneta@gmail.com</a></p>
        </div> 

    
    </body>
    </html>