<!DOCTYPE html>
<html>
<head> <title>Enkokilsh</title></head>
<body>
    <table width="100%" bgcolor="#cccccc">
        <tr>
        <td width="50%"><h3>የኔታ</h3></td>
        <td align="right" width="50%">
             <nav>
            <a href="home.html"> HOME</a>||
               <a href="sinekal.html"> ስነ ቃል</a>||
        <a href="ask.html"> Askquestion</a>||
        <a href="feedback.html"> FEEDBACK </a>
        </nav>
        </td>
        </tr>
        </table>
        <table width ="100%" bgcolor="#cccccc">
            <form>
              <tr>
        <td width="50%"> <h1 align="center">እንቆቅልሽ</h1></td>
        <td width="25%"></td>
        <td width="25%" align="right">
                <input type="text" placeholder="search....">
                <button type="submit" value="search">Search</button>
                <button type="submit" value="Filter">Filter</button>
                <a href="books.html">የእንቆቅልሽ መጸሃፍት</a>
        </td>
            </tr>
        </form>
        </table>
        <table width="100%" bgcolor="#cccccc">
            <tr bgcolor="pink"><pre><big>
                ሰው1፡ እንቆቅልሽ/እንቆቅልህ
                ሰው2፡ ምን አውቅልሽ/አውቅልህ</pre></big>
            </tr>
          <tr>
              <td>
<details>
  <summary>ሁለት ጎረቤቶች የማይተያዩ?</summary>
      <p>አይኖች</p>
</details><br> <br> <br>
<details>
    <summary>ለማገዶ የማይውል ጭራሮ</summary>
        <p>ጸጉር</p>
  </details><br> <br> <br>
  <details>
    <summary>ወደ ላይ ከወ የማይመለስ?</summary>
        <p>እድሜ</p>
  </details><br> <br> <br> 
  <details>
    <summary>ጥርስ የላት ጥሬ መብላት አያቅታት ?</summary>
        <p>ዶሮ</p>
  </details><br> <br> <br>
  <details>
    <summary>ሞልተውበት ወድያው ባዶ ?</summary>
        <p>ሆድ</p>
  </details><br> <br> <br>
  <details>
    <summary>እቴ ድቡልበል ሽክርክር፣ ነፍስ ያለው ይወልድ ባለ እግር ?</summary>
        <p>እንቁላል</p>
  </details><br> <br> <br>
  <details>
    <summary>እራሱን ሳያቀምስ የቆረሰውን ለሌላ ያጎርስ ?</summary>
        <p>እጅ</p>
  </details><br> <br> <br>
  <details>
    <summary>በአንድ ጎራ፣ ሁለት ወፍጭ እና ሙራ ?</summary>
        <p>ጥርስ እና ምላስ</p>
  </details> <br> <br> <br>
  <details>
    <summary>እናቲት ታያለች ልጅየዋ ትባላለች ?</summary>
        <p>ትመንጃ እና ጥይት</p>
  </details><br> <br> <br>
  <details>
    <summary>ጥቁር ላም ነጭ እንቦሳ አስከትላ  ?</summary>
        <p>ጀበና እና ሲኒ</p>
  </details><br> <br> <br>
  <details>
    <summary>አሳድጎት ነበር በፊት በልጅነቱ ፤ አላስገባው አለ አባቱን ከቤቱ ?</summary>
        <p>የሳር ቤት</p>
  </details><br> <br> <br>
  <details>
    <summary>ምንም ቢቀልባት ፤ ሸክሙ አይከብዳት ?</summary>
        <p>ቀንድ</p>
  </details><br> <br> <br>
  <details>
    <summary>ሁለት ወይዘሮ ፤ እንደ እውር ፤ እንደ ደንቆሮ?</summary>
        <p>አይን እና ጆሮ</p>
  </details><br> <br> <br>
  </td>
  <td colspan="2"><img src="../../../Resources/Images/enko1.png" width="100%" height="100%"> </td>
</tr>
</table>
</body>
</html>