<!doctype html>
<html lang="en">

<head>
    <title>መጽሃፍቶች</title>
</head>

<body>
    <a href="../Home/felit.html"><img src="../../../Resources/Images/left-arrow.png" width="5%" height="auto"></a>
    <table align="center" width="90%" bgcolor="violet">
        <tr>
            <td rowspan="2">
                <h1 align="center"><big><strong>የኔታ</strong></big></h1>
            </td>
            <td>
                <h1 align="center">መጻህፍት</h1>
            </td>
        </tr>
        <tr>

            <td width="70%" align="right">
                <form>
                    <input type="text" placeholder=" መፈለጊያ..." name="search">
                    <button type="submit">ፈልግ</button>&nbsp;&nbsp;&nbsp;&nbsp;
                </form>
                <br>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table align="center" width="90%" border="0">
        <tr>
            <td width="25%" align="center"><img src="../../../Resources/Images/2.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
            <td width="25%" align="center"><img src="../../../Resources/Images/4.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
            <td width="25%" align="center"><img src="../../../Resources/Images/14.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
            <td width="25%" align="center"><img src="../../../Resources/Images/2.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
        </tr><br>
        <tr>
            <td><strong>other related books</strong></td>
        </tr>
        <br><br>
        <tr>
            <td width="25%" align="center"><img src="../../../Resources/Images/6.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
            <td width="25%" align="center"><img src="../../../Resources/Images/9.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
            <td width="25%" align="center"><img src="../../../Resources/Images/10.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
            <td width="25%" align="center"><img src="../../../Resources/Images/17.jpg" width="200px"
                    height="auto"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>ቅድመ
                    ዕይታ</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>አውርድ</button><br><br>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table align="center" width="90%" border="0">
        <td width="40%">
            <p align="center">this for some info</p>
        </td>
        <td width="60%">
            <p align="center">እኛን ለማግኛት<br><br>+251-28022022<br><a href="https://email/yeneta">yeneta@gmail.com</a></p>
        </td>
    </table>
</body>

</html>