<!DOCTYPE html>
<html>
    <head>
        <title>felit page</title>
    </head>
    <body >

        <table height="10%"width="100%" cellpadding ="35%" bgcolor="#ab9273">
            <tr>
                <td width="20%"><img src="../../../resources/images/istockphoto-1349215840-612x612.jpg" width="50%"></td>
                <td width="10%"><h1>YENETA</h1></td>
                <td  width="35%">
                    <td> <a href ="home layout.html">HOME </a></td>
                    <td> <a href="menu.html">MENU </a></td>
                    <td> <a href="../shared/FeedBack.html"> FEEDBACK</a></td>
                    <td> <a href="../Auth/login.html">ASK QUESTION</a></td>
                </td>
            </tr>
</table>
       
<table>
    <tr colspan="2" width=100% bgcolor="#ab9273">
        
            <td  width="100%"align="center" cellpadding="10%"><h1>ፈሊ ዊ አነጋገር</h1></td>
        <td width="90%" align="right">
        <td><h3><a href="kene.html">KENE</a></h3></td > &nbsp; 
        <td><h3><a href="felit.html">FELIT</a></h3></td>&nbsp;
        <td><h3><a href ="enkoklish.html">ENQOKLISH</a></h3></td>&nbsp;
        <td><h3><a href ="mesale.html">MESALYAWI<br>ANEGAGER</a></h3></td>
      </td>
    </tr>
</table>

    <table width="100%" bgcolor ="#ab9273">
    
        <td width="10%" align="right">
            <form> 
          <input type="text" placeholder="search" name =  "search">
          <button type ="submit" >search</button>&nbsp;
          <button type="submit">filter</button>
            </form>  
        </td>  
               
         
            
        </table>

        <br>

        <table width="100%" bgcolor="white">
            <tr>
                <td>
                    <table width="100%" bgcolor ="#ab9273" border="1">
                        <tr >
                            <td width="20%" align="center">ፈሊታዊ አነጋገር</td>
                                <td width="22%" align="center">ትርጉም</td>
                               </tr> 
                            <tr >
                                <td >1.እንብርት የለሽ  </td>
                                <td> አለመጥገብ   </td>
                                
                            </tr>
            
                            <tr>
                                <td cellspacing="10%">2. ሆደ ባሽ </td>
                                <td>ቶሎ የሚከፋው </td>
                                
                            </tr>
            
                            <tr>
                                <td>3.ሆደ መጋዝ </td>
                                <td> ክፉ  </td>
                                
                            </tr>
            
                            <tr>
                                <td>4.መልከ መልካም </td>
                                <td>ምልኩ ያማረ</td>
                                
                            </tr>
            
                            <tr>
                                <td>5.መልከ ጥፉ </td>
                                <td> ፉንጋ</td>
                                
                            </tr>
            
                            <tr>
                                <td>6.ስመ ጥር </td>
                                <td> ገናና</td>
                                
                            </tr>
            
                            <tr>
                                <td>7.ሆዱ ቃረ </td>
                                <td> ተቀየመ </td>
                                
                            </tr>
                            
                            <tr>
                                <td>8.ልበ ተራራ </td>
                                <td>አርቆ አሳቢ</td>
                                
                            </tr>
            
                            <tr>
                                <td>9.ባትህን አሳየኝ </td>
                                <td>ቶሎቶሎ ተራመድ </td>
                                
                            </tr>
            
                            <tr>
                                <td>11 </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>12. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>13. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>14. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>15. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>16. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>17. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>18. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>19. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>20. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>21. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>22. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>23. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>24. </td>
                                <td> </td>
                                
                            </tr>
                            <tr>
                                <td>25. </td>
                                <td> </td>
                                
                            </tr>
                        </td>      
                    </tr>
                    </table>
                </td>

                <td>
                    <table align ="center" width ="50%" height="100%" bgcolor="#d98c8c" frame="box"> 
                        <tr>
                            <td align="center">
                        <p>GET MORE</p>
                    </td>
                    </tr>
                        </table>
                </td>
                
            </tr>
        </table>

        <br>
        <table width="100%" bgcolor ="#ab9273">
       
            <tr>
                
                <td align="center">
                    <address> 
                          <h2>contact us</h2>
                        <ul> email : <u>temhertbebete@gmail.com</u></ul>
                        <ul>facebook :<u> @temhert bebet</u></ul>
                        <ul>instagram :<u> @_temh_ert</u></ul>
                        <ul>telegram :<u> @temehertbebete</u></ul>
                    </address>
                </td>
            </tr>
           
        
    </table>

    </body>
    </html>
