<!doctype html>
<html lang="en">

<head>
    <title>መጽሃፍቶች</title>
    <link rel="stylesheet" href="../../../Resources/CSS/books.css">
</head>

<body>
   
    <div class="wrapper">
        
       <div class=" header"> 
        <div class="logo">
           
            <h1 align="center"><big><strong>የኔታ</strong></big></h1>
 
        </div>


        <div class="nav">
            <form>
                <input type="text"placeholder=" መፈለጊያ..." name="search">
                <button type="submit">ፈልግ</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </form>
        </div>

    </div>
<br><br>
        <div class="container">

            <div class="row1">
                
            
            <div class="col">
               <img src="../../../Resources/Images/12.jpg" width="200px" height="auto">
            </div>
               <div class="col">
                    <img src="../../../Resources/Images/15.jpg" width="200px"height="auto">
                    </div>

                    <div class="col">
                    <img src="../../../Resources/Images/18.jpg" width="200px"height="auto">
                    </div>

                    <div class="col">
                    <img src="../../../Resources/Images/12.jpg" width="200px"height="auto">
                    </div>
                    
               <br> <br>
               <br>

        
           <div class="btn">       
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
    </div>
        <div class="btn">  
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
    </div>
    <div class="btn">  
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
        </div>
        <div class="btn">  
        <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
    </div>
           </div> 
               <br> 

            <div class="row2">
          
                <div class="col">
                    <img src="../../../Resources/Images/6.jpg" width="200px"height="auto">
                </div>

                    
                    <div class="col">
                    <img src="../../../Resources/Images/9.jpg" width="200px"height="auto">
                </div>

                    <div class="col">
                 <img src="../../../Resources/Images/10.jpg" width="200px"height="auto">
                </div>
                 <div class="col">
                  <img src="../../../Resources/Images/17.jpg" width="200px"height="auto">
                </div>

                  </div>
<br>
                <br>
                <div class="btn">
 
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
                </div>
                    <div class="btn"> 
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
                </div>
                    <div class="btn"> 
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
                </div>
                    <div class="btn"> 
                    <button>ቅድመ ዕይታ</button>&nbsp;&nbsp;<button>አውርድ</button>
             </div>
             <br><br>
          </div>
        
        

        <div class ="footer">
            <br><br>
            <p align="center">this for some info</p>
            <p align="center">እኛን ለማግኛት<br><br>+251-28022022<br><a href="https://email/yeneta">yeneta@gmail.com</a></p>
            <br><br>
        </div> 

    
    </body>
    </html>