<!DOCTYPE html>
<html>

<head>
    <title>ምሳሌያዊ አነጋገር</title>
</head>

<body>
    <table align="center" width="90%" bgcolor="#eb7cfc">
        <tr>
            <td rowspan="2">
                <h1 align="center"><big><strong>የኔታ</strong></big></h1>
            </td>
            <td width="60%" align="right">
                <a href=".../../home.html">ፊት ገጽ</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#home">ስነ ቃል</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">ምላሽ መስጫ</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#home">ጥያቅ ጠይቅ</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
                <a href="#home">ቅኔ</a>&nbsp;&nbsp;
                <a href="#home">ፈሊጥ</a>&nbsp;&nbsp;
                <a href="#home">እንቆቅልሽ</a>&nbsp;&nbsp;
                <a href="#home">ምሳሌያዊ አነጋገር</a>&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <h1><big>ምሳሌያዊ አነጋገር</big></h1>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table align="center" width="90%" border="0" cellpadding="10">
        <tr>
            <td width="40%" align="center">
                <form>
                    <input type="text" placeholder=" Search...." name="search">
                    <button type="submit">search</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;<button>filter</button><img src="images/filter.png" width="2%"
                        height="auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>books</button>&nbsp;<img
                        src="images/book.png" width="2%" height="2%">
                </form>
            </td>
        </tr>
    </table>
    <table width="90%" align="center" border="0" cellpadding="10">
        <tr>
            <td width="5%"></td>
            <td width="70%">
                <p>
                    <font size="6">1. ልጅ ያለ እናት ብት ያለ ጉልላት<br>
                        2. የቆጡን አወርዳለሁ ብላ የብብቷን ጣለች<br>
                        3. ጊዜ የሰጠው ቅል ድንጋይ ይሰብራል<br>
                        4. ለጥምቀት ያልሆነ ቀሚስ ይበጣጠስ<br>
                        5. ያጣ ለማኝ ተሳድቦ ይሄዳል<br>
                        6. በቦሃ ላይ ቆረቆር<br>
                        7. ከዕባብ እንቁላል እርግብ አይፈለፈልም<br>
                        8. ጌታዋን የተማመነች በግ ላቷን ውጭ ታሳድራለች<br>
                        9. ከዝንጀሮ ቆንጆ ምን ይመራርጡ<br>
                        10. በሬ ሆይ ሳሩን አይተህ ገደሉን ሳታይ<br>
                        11. የዕብድ ገላጋይ ድንጋይ ያቀብላል<br>
                        12. የላጭን ልጅ ቅማል በላት<br>
                        13. ገንዘብ ካለ በሰማይ መንገድ አለ<br>
                        14. ፈረስ ያደርሳል እንጂ አይዋጋም<br>
                        15. ዘመደ ብዙ ጠላው ቀጭን ነው<br>
                        16. ድሀ በህልሙ ቅቤ ባይጠጣ ኖሮ ንጣት ይገለው ነበር<br>
                        17. ሁሉ አማረሽን ገበያ አታውጧት<br>
                        18. ዶሮን ሲያታልሏት በመጫኛ ጣሏት<br>
                        19. መቀመጥ መቆመጥ<br>
                        20. የማያጠግብ እንጀራ ከምጣዱ ያስታውቃል<br>
                        21. ከድጡ ወደ ማጡ<br>
                        22. ተልባ ቢንጫጫ በአንድ ሙቀጫ<br>
                        23. ፍየል ከመድረሷ ቅጠል መበጠሷ<br>
                        24. የደላው ሙቅ ያኝካል<br>
                        25. በአንድ ራስ ሁለት ምላስ<br>
                        26. ሲሾም ያልበላ ሲሻር ይቆጨዋል<br>
                        27. ምነው እናቴ እንቁላል ስሰርቅ በቀጣችኝ<br>
                        28. የአገሩን መሬት በአገሩ በሬ<br>
                        29. ታሞ ከመማቀቅ አስቀድሞ መጠንቀቅ<br>
                        30. ሰርገኛ መጣ በርበሬ ቀንጥሱ<br>
                        31. አተርፍ ባይ አጉዳይ<br>
                        32. ከእጅ አይሻል ዶማ<br>
                        33. ሆድን በጎመን ቢደልሉት ጉልበት በዳገት ይለግማል<br>
                        34. አስቀድሞ ነበር መጥኖ መደቆስ አሁን ምን ይሰራል ድስት ድጦ ማልቀስ<br>
                        35. የማያውቁት አገር አይናፍቅም<br>
                        36. ማን ላይ ቆመሽ እግዜርን ታሚያለሽ<br>
                        37. የበላችው ያገሳታል በላይ በላዩ ያጎርሳታል<br>
                        38. አዛኝ ቅቤ አንጓች<br>
                        39. ንገረው ንገረው እምቢ ካለ መከራ ይምከረው<br>
                        40. የአህያ ባል ከጅብ አያስጥል<br>
                        41. አስቀድሞ ነበር መጥኖ መደቆስ አሁን ምን ይሰራል ድስት ድጦ ማልቀስ<br>
                        42. ህልም ተፈርቶ ሳይተኛ አይታደርም<br>
                        43. በሽታውን የደበቀ መድሀኒት አይገኝለትም<br>
                        44. ውሀ ሲወስድ እያሳሳቀ ነው<br>
                        45. የትም ፍጪው ዱቄቱን አምጪው<br>
                        46. ሲሮጡ የታጠቁት ሲሮጡ ይፈታል<br>
                        47. ከስስታም አንድ ይወድቀው አንድ ይተርፈው<br>
                        48. ልጅን ሲወዱ እስከነ ንፍጡ ነው<br>
                        49. ምንም ብቀጥን ጠጅ ነኝ<br>
                        50. በለፈለፉ ባፍ ይጠፉ<br>
                        51. ትልቁ ዳቦ ሊጥ ሆነ<br>
                        52. አመድ በዱቄት ይስቃል<br>
                        53. አንቺው ታመጪው አንቺው ታሮጪው<br>
                        54. ሰውና እንጨት ተሰባሪ ነው<br>
                        55. ታሞ የተነሳ እግዜርን ረሳ<br>
                        56. ትለብሰው የላት የምትከናነበው አማራት<br>
                        57. ዶሮ ጭራ ጭራ መታረጃዋን ታወጣለች<br>
                        58. ለወሬ የለው ፍሬ<br>
                        59. ዞሮ ዞሮ ወደቤት ኖሮ ኖሮ ወደ መሬት<br>
                        60. ላም አለኝ በሰማይ ወተቷንም አላይ<br>
                        61. ሳይከካ ተቦካ<br>
                        62. አለባብሰው ቢያርሱ በአረም ይመለሱ<br>
                        63. ሰው ጥራ ቢሉት ራሱ መጣ<br>
                        64. የወደቀ ግንድ ምሳር ይበዛበታል<br>
                        65. ለተቀማጭ ሰማይ ቅርቡ ነው<br>
                        66. በእንቅርት ላይ ጆሮ ደግፍ<br>
                        67. ለሰው ብሎ ሲያማ ለኔ ብለህ ስማ<br>
                        68. የድሀ ቅንጡ እንጀራ ሲሰጡት ይላል ድልህ አምጡ<br>
                        69. ወሬ ቢበዛ በአህያ አይጫንም<br>
                        70. ለቀባሪው አረዱት<br>
                        71. ከሞኝ ደጃፍ ሞፈር ይቆረጣል<br>
                        72. ሀምሳ ሎሚ ለአንድ ሰው ሸክሙ ለሀምሳ ሰው ጌጡ<br>
                        73. ያልጠረጠረ ተመነጠረ<br>
                        74. ጨው ለራስህ ብለህ ጣፍጥ<br>
                        75. ለጌታም ጌታ አለው<br>
                        76. ለራስ ሲቆርሱ አያሳንሱ<br>
                        77. በቅሎን አባትሽ ማነው ቢሏት እናቴ ፈረስ ነች አለች<br>
                        78. የልጅ ነገር ሁለት ፍሬ አንዱ ብስል አንዱ ጥሬ<br>
                        79. አይጥ ሞቷን ስትሻ ሄዳ ታሸታለች የድመት አፍንጫ<br>
                        80. እውነቱን ተናግሮ ካመሹበት ማደር<br>
                        81. ፍየል ወዲህ ቅዝምዝም ወዲያ<br>
                        82. ከሞመት መሰንበት<br>
                        83. እንኳን ዘንቦብሽ እንዲያውም ጤዛ ነሽ<br>
                        84. ሰዶ ማሳድድ ካማረህ ዶሮህን በቆቅ ለውጥ<br>
                        85. ላም ባልዋለበት ኩበት ለቀማ<br>
                        86. መልካም ስም ከመልካም ሽቶ ይበልጣል<br>
                        87. ጽድቁ ቀርቶብኝ በቅጡ በተኮነንኩኝ<br>
                        88. ድር ቢያብር አንበሳ ያስር<br>
                        89. ዘመድ ከዘመዱ አህያ ከአመዱ<br>
                        90. ካለ ፈጣሪ አሟጠሽ ጋግሪ<br>
                        91. ስራ ያጣ መነኩሴ ቆቡን ቀዶ ይሰፋል<br>
                        92. የፈሰሰ ውሀ አይታፈስም<br>
                        93. የማያውቁት አገር አይናፍቅም<br>
                        94. ትለብሰው የላት የምትከናነበው አማራት<br>
                        95. ብላ ባለኝ እንዳባቴ በቆመጠኝ<br>
                        96. ስጋ ቁጠር ቢሉት ጣፊያ አንድ አለ<br>
                        97. ያለ አንድ የላት ጥርስ በዘነዘና ትነቀስ<br>
                        98. አልጠግብ ባይ ሲተፋ ያድራል<br>
                        99. ከድሀ ከመበደር ከባለጸጋ መስረቅ ይቀላል<br>
                        100. ሴት የላከው ሞት አይፈራም<br>
                        101. አፍንጫ ሲመታ አይን ያለቅሳል<br>
                        102. አወቅሽ አወቅሽ ቢሏት መጽሀፍ አጥባ ቆየች<br>
                        103. ጭብጥ ቆሎ ይዘህ ወደ አሻሮ ተጠጋ<br>
                        104. ሰውን ማመን ቀብሮ አለች ቀበሮ<br>
                        105. ከልብ ካለቀሱ እንባ አይገድም<br>
                        106. ሆድ ያባውን ብቅል ያወጣዋል<br>
                        107. የጅብ ችኩል ቀንድ ይነክሳል<br>
                        108. የወጋ ቢረሳ የተወጋ አይረሳም<br>
                        109. ዳሩ ሲወረር መሀሉ ዳር ይሆናል<br>
                        110. ሌባ ላመሉ ዳቦ ይልሳል<br>
                        111. የጅብ ፍቅር እስኪቸግር<br>
                        112. አታግባና የሰው አጥር ዝለል<br>
                        113. የአፍ ወለምታ በቅቤ አይታሽም<br>
                        114. አህያውን ፈርቶ ዳውላውን<br>
                        115. አላዋቂ ሳሚ ንፍጥ ይለቀልቃል<br>
                        116. ዞሮ ዞሮ ወደቤት ኖሮ ኖሮ ወደ መሬት<br>
                        117. ከወፈሩ ሰው አይፈሩ<br>
                        118. ልጅ ለናቷ ምጥ አስተማረች<br>
                        119. ጉልቻ ቢቀያየር ወጥ አያጣፍጥም<br>
                        120. አትሩጥ አንጋጥ<br>
                        121. የፈሪ ዱላው ረጅም ነው<br>
                        122. ሲስሟት ቀርቶ ሲስቧት<br>
                        123. አባይ ማደሪያ የለው ግንድ ይዞ ይዞራል<br>
                        124. ዞሮ ዞሮ ወደቤት ኖሮ ኖሮ ወደ መሬት<br>
                        125. የማይመስል ነገር ለሚስትህ አትንገር<br>
                        126. የምጣዱ እያለ የእንቅቡ ተንጣጣ<br>
                        127. ራሴን ሲበላኝ እግሬን ቢያኩኝ አይገባኝም<br>
                        128. አያ ጅቦ ሳታመካኝ ብላኝ<br>
                        129. እሱ የከፈተውን ጉሮሮ ሳይዘጋው አያድርም<br>
                        130. በሬ ከአራጁ ይውላል<br>
                        131. ተንጋለው ቢተፉ ተመልሶ ካፉ<br>
                        132. ዶሮ ጭራ ጭራ መታረጃዋን ታወጣለች<br>
                        133. ቀድሞ ማን ቢስምሽ ታሞጠሙጫለሽ<br>
                        134. ላለፈው ክረምት ቤት አይሰራለትም<br>
                        135. ወረቀትና ሞኝ የያዘውን አይለቅም<br>
                        136. የነ ቶሎ ቶሎ ቤት ግድግዳው ሰንበሌጥ<br>
                        137. ቀስ በቀስ እንቁላል በእግሩ ይሄዳል<br>
                        138. የሞኝ ዘፈን ሁልጊዜ አበባዬ<br>
                        139. አላርፍ ያለች ጣት ስትጠነቁል ትያዛለች<br>
                        140. አልጠግብ ባይ ሲተፋ ያድራል<br>
                        141. የአፍ ወለምታ በቅቤ አይታሽም<br>
                        142. ያልሰማ ጆሮ ከጎረቤት ያጣላል<br>
                        143. የፈሪ በትር ሆድ ይቀትር<br>
                        144. አልሸሹም ዞር አሉ<br>
                        145. እግረ ቀጭን ይሞታል ሲሉ እግረ ወፍራም ይቀድማል<br>
                        146. ታጥቦ ጭቃ<br>
                        147. ያልታደለ ከንፈር ሳይሳም ያረጃል<br>
                        148. ማን ይናገር የነበረ ማን ያርዳ የቀበረ<br>
                        149. በባዳ ቢያኮርፉ: በጨለማ ቢያፈጡ: ምን ሊያመጡ<br>
                        150. አታግባና የሰው አጥር ዝለል<br>
                        151. በቅሎ ግዙ ግዙ አንድ አሞሌ ጨው ላያግዙ<br>
                        152. መካሪ የሌለው ንጉስ አንድ አመት አይነግስ<br>
                        153. እጸድቅ ብዬ ባዝላት ተንጠልጥላ ቀረች<br>
                        154. የቸገረው እርጉዝ ያገባል፣ የባሰበት እመጫት<br>
                        155. በሰው ቁስል እንጨት ስደድበት<br>
                    </font>
                </p>
            </td>
            <td valign="top">
                <br><br><br><br>
                <table  border="0" frame="box" bgcolor="pink" cellpadding="20">
                    <tr>
                        <td>
                            <h2 align="center"><font size="8">GET MORE from <em>books and ask questions</em></font></h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table align="center" width="90%" border="0" bgcolor="#eb7cfc">
        <td width="40%">
            <p align="center">This is a very unique site which satifies your need. It would be available in many other
                languages even with ethiopian languages too <br>after knowing your feedback from developers</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#developers">devlopers</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="#entripise">entripise</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="#educational">educational</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="#entertainment">entertainment</a></p>
        </td>
        <td width="60%">
            <p align="center">Contact us<br><br>+251-28022022<br><a href="https://email/yeneta">yeneta@gmail.com</a>
            </p>
        </td>
    </table>
</body>

</html>