<!DOCTYPE html>
<html>

<head>
    <title>misaleyawi</title>
    <link rel="stylesheet" href="../../../Resources/CSS/snekal.css">
</head>

<body>
    <div class="header">
        <div class="menu">
            <ul>
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="#">Snekal</a></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">Felit</a></li>
                        <li><a href="#">Msaleyawi anegager</a></li>
                        <li><a href="qne.html">Qne</a></li>
                        <li><a href="#">Enoklish</a></li>
                    </ul>
                </div>
                <li> <a href="Ask.html">Ask...</a></li>
                <li><a href="feedback.html">Feedback</a></li>
            </ul>
            <input type="text" placeholder=" Search...." name="search" class="form">
            <button type="submit" class="btn">search</button>
            <img src="nhj.png">
        </div>
    </div>
    <div class="main2">
        <h1><big>ምሳሌያዊ አነጋገር</big></h1>

        <pre>1. ልጅ ያለ እናት ብት ያለ ጉልላት
         2. የቆጡን አወርዳለሁ ብላ የብብቷን ጣለች
         3. ጊዜ የሰጠው ቅል ድንጋይ ይሰብራል
       4. ለጥምቀት ያልሆነ ቀሚስ ይበጣጠስ 
      5. ያጣ ለማኝ ተሳድቦ ይሄዳል
      6. በቦሃ ላይ ቆረቆር
        7. ከዕባብ እንቁላል እርግብ አይፈለፈልም
        8. ጌታዋን የተማመነች በግ ላቷን ውጭ ታሳድራለች
        9. ከዝንጀሮ ቆንጆ ምን ይመራርጡ
        10. በሬ ሆይ ሳሩን አይተህ ገደሉን ሳታይ
        11. የዕብድ ገላጋይ ድንጋይ ያቀብላል
        12. የላጭን ልጅ ቅማል በላት
        13. ገንዘብ ካለ በሰማይ መንገድ አለ
        14. ፈረስ ያደርሳል እንጂ አይዋጋም
        15. ዘመደ ብዙ ጠላው ቀጭን ነው
                       16. ድሀ በህልሙ ቅቤ ባይጠጣ ኖሮ ንጣት ይገለው ነበር
        17. ሁሉ አማረሽን ገበያ አታውጧት
        18. ዶሮን ሲያታልሏት በመጫኛ ጣሏት
        19. መቀመጥ መቆመጥ
        20. የማያጠግብ እንጀራ ከምጣዱ ያስታውቃል
        21. ከድጡ ወደ ማጡ
        22. ተልባ ቢንጫጫ በአንድ ሙቀጫ
        23. ፍየል ከመድረሷ ቅጠል መበጠሷ
        24. የደላው ሙቅ ያኝካል
       </pre>
    </div>
    <div class="footer">
        <h2>CONTACT US</h2>
        <ul> email : <u>yeneta@gmail.com</u></ul><br>
        <ul><a href="www.facebook.com"></a>facebook : @ <u>yeneta offical</u></ul><br>
        <ul>instagram : @ <u>offical_yeneta</u></ul><br>
        <ul>telegram : @ <u>yeneta</u></ul><br>
    </div>
</body>

</html>