<!DOCTYPE html>
<html>
<head>
    <title>Qne</title>
    <link rel="stylesheet" href="snekal.css">
</head>
<body>
    <header>
    <div class="menu">
    <ul>
    <li class="active" ><a href="home.html">Home</a></li>
    <li><a href="#">Snekal</a>
    <div class="submenu">
<ul>
    <li><a href="#">Felit</a></li>
    <li><a href="misaleyawi.html">Msaleyawi anegager</a></li>
    <li><a href="#">Qne</a></li>
    <li><a href="#">Enoklish</a></li>
</ul>
    </div>
    <li> <a href="Ask.html">Ask...</a></li>
    <li><a href="feedback.html">Feedback</a></li>
    </ul>
    <input type="text" placeholder=" Search...." name="search"class="form">
    <button type="submit" class="btn">search</button>
    <img src="nhj.png" >
    </header>
</div>
<div class="main">

<pre id="L1"><h2> 1.ሁልጊዜ በስጋት በዱር ከመኖር
    ቆቅስ ብትመረቅ ይሻላት ነበር</h2></pre>
  <pre id="l1"><h3>            ህብረቃል ብትመረቅ
                 ሰም፡ ቆቅ ለማዳ ሆና ከሰው  ጋር ብትኖር ጥሩ ነበር 
              ወርቅ፡ ቆቅ ታርዳ መረቅ ብትሆን መልካም  ነበረ<hr></h3></pre>
       <pre id="L2"><h2>        2.ሁልጊዜ ቤት መስራት በልቤ እመኛለሁ
    አንድም ማዘን የለኝ ወዴት አገኛለሁ</h2></pre>
  <pre id="l2"><h3>               ህብረቃል፡አንድም ማዘን
        ሰም፡ ለማእዘን የሚሆን እንጨት የለኝም
 ወርቅ፡ ለ ሰው የሚያዝን ሰው ጠፋ</h3></pre><hr><pre id="L3"><h2>3.ልብሴም አለቀ ላይ ታቹ
    የኔም ዘመዶች ሰለቹ
    ክርና መርፌ አገኘሁ
    ጠቃሚ ሰው አጣሁ</h2></pre><pre id="l3"><h3>        ህብረቃል፡ጠቃሚ
    ሰም፡ ጨርቅ የሚጥፍ ሰው አጣሁ
    ወርቅ፡ የሚጠቅመኝ ረዳት አጣሁ</h3></pre><hr><pre ><h2 id="L4"> 4.ምንም በደል ሳይኖራት ሰው 
    አማሽ ብለው ሰደቧት</h2></pre>
            <pre id="l4"><h3>            ህብረቃል፡አማሽ
    ሰም፡ ሰውን ከሰው አጣላሽ አሏት
ወርቅ፡ ሰው ትምያለሽ አሏት </h3></pre>
                 <pre ><h2 id="L5">5.ሰውን ሲቀብር ሲከፍን 
      በሰለን በ እርጎ በሳጥን
      ቀረ ባፈር መሆን</h2></pre><hr><pre id="l5"><h3>         ህብረቃል፡ቀረ ባፈር
           ሰም፡ በአፈር ላይ መቅበር ቀረ
           ወርቅ፡ የሞት ጊዜ ቀረበ  </h3></pre>
                                               
                  
</div>
<div class="footer">
<h2>CONTACT US</h2>
                    <ul> email : <u>yeneta@gmail.com</u></ul>
                    <ul>facebook : @ <u>yeneta offical</u></ul>
                    <ul>instagram : @ <u>offical_yeneta</u></ul>
                    <ul>telegram : @ <u>yeneta</u></ul>
  </div>  
  </body>
</html>
</html>