
* {
    margin:0;
    padding: 0;
}

body{
    

    
}
.wrapper{
width:100%;
height:100%;
background-image: linear-gradient(to right, rgb(146, 156, 241),rgba(238, 235, 243, 0));
}

.header {
    width: 100%;
    height: 25%;
    display:inline-block;
    justify-content: space-between;
  
    
}
.logo{
    width : 30%;
    height : auto;
    
    
}
.nav{

    justify-content: right;
    width : 80%;
}

.container{
    width : 100%;
    height : 50%;
   
}
.row1{
    justify-content: space-in-between;
    width:100%;
    display : block;
    flex-direction: column;
	trasnsition:.3 ease;
}

.row1-button{
    color: red;
}
.row1-img:hover{
    transform:scale(1.06);
	z-index:2;
    
}

.footer{
 height: 25%;
    background-color : white;

}

.footer:hover{

    font-size : 20px;
    color : black(236, 228, 228); 

}
