* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    /*background-image: linear-gradient(to right bottom, #fbf5ee, #ecebe9, #a7a7a2, #80827e, #798f79);*/
    background-color: #ffffff;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2%;
   /* background-image: url("../Images/sun.jpg");*/
   background-image: linear-gradient(to left top,rgb(45, 233, 186),rgba(56,233,90));
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}
.title {
    font-size: 20px;
    font-weight: 600;
    color: violet;
    padding-left: 10%;
}

nav {
    background-size: cover;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    font-size: x-large;
    color: bisque;
}

nav {
    text-size-adjust: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    text-align: justify;
    position: relative;
    right: 20%;
}

nav ul li {

    margin: 15px;
    padding: 15px;
    display: inline;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(10, 9, 9);
    font-weight: 300;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 5%;
    min-width: max-content;
    background-image: linear-gradient(to left top,rgb(45, 233, 186),rgba(56,233,90));
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}

nav ul li ul a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu:hover .sub-menu {
    display: block;
}

nav ul li ul li {

    border-radius: 4px;

}

.sub-menu ul li a:hover {
    color: #ffffff;
}

.top
{
    display: inline-block;
}

#fidel {
    width: 150%;
    display: block;
    position: relative;
    top:10%;
    left: 10%;
}

#fidel img {
    display: inline;
    position: relative;
}
.all
{
    position: relative;
    left: 50%;
}
.slide,
.slide1,
.slide2,
.slide3 {
    position: absolute;
    left: 300px;
    top: 100px;
}

.all img {
    position: relative;
    width: 100%;
    display: block;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0% {
        width: 300px;
        height: auto;
    }

    25% {
        width: 350px;
        height: auto;
    }

    50% {
        width: 400px;
        height: auto;
    }

    75% {
        width: 350px;
        height: auto;
    }

    100% {
        width: 300px;
        height: auto;
    }

}

.slide {
    animation: slide 12s linear infinite;
}

.slide1 {
    animation: slide1 12s linear infinite;
}

.slide2 {
    animation: slide2 12s linear infinite;
}

.slide3 {
    animation: slide3 12s linear infinite;
}

@keyframes slide {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }

}

@keyframes slide1 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }

}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }

}

@keyframes slide3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }

}

#new p {
    margin: 30px;
    font-size: x-large;
    font-weight: 100;
    position: absolute;
    left: 50%;
    display: inline;
}

#new pre {
    font-size: xx-large;
    font-weight: 200;
    text-align: center;
    color: brown;
    display: block;
    position: absolute;
    left: 50%;
    top: 20%;
}
.img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

.image1 {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(228, 228, 228, 0.5);
}

.img:hover .overlay {
    opacity: 1;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
@media(max-width="600px") {}