<!DOCTYPE html>
<html>

<head>
    <title>Feedback-page</title>
    <link rel="stylesheet" href="../../../Resources/CSS/feedback.css" />
</head>

<body>
    <header>
        <div class="title">የኔታ</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <div class="menu">
                    <li><a href="#">ስነ ቃል</a></li>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#">ቅኔ</a></li>
                            <li><a href="#">ፈሊጥ</a></li>
                            <li><a href="#">እንቆቅልሽ</a></li>
                            <li><a href="#">ምሳሌያዊ አነጋገር</a></li>
                        </ul>
                    </div>
                </div>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Askquestion</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>What do you think about our site</p><br>
        <div class="box">
            <form>
                Name: <input type="text" placeholder="Name" id="name"><br><br>
                Email: <input type="email" required placeholder="E-mail" id="email"><br><br>
                <textarea rows="10" cols="50" placeholder="Write what you feel about us" id="textarea"></textarea><br>
                <div class="button"><input type="submit" value="send" id="btn"></div>
            </form>
        </div>
    </main>
</body>

</html>