<!DOCTYPE html>
<html>
<head>
<title> Feedback </title>
</head>

<body>
<table align ="right">
<td>
<nav>
<a href="home.html"> HOME</a>||
<a href="sinekal.html"> SINEKAL</a>||
<a href="ask.html"> Askquestion</a>||
<a href="feedback.html"> FEEDBACK </a>||
</nav>
<hr width=100%>
</td>
</table>
<br> <br> <br>
<pre><h1>                                         What Do You Think About Our website</h1>
</pre> <br> <br> <br> <br>
<form> 
<table align="center" bgcolor="#a9ed74">
<td align="center">
<fieldset >
<legend> <h1> Feedback </h1></legend>
Name: <input type="text" placeholder="Name"><br><br>
Email:<input type"email" required placeholder="E-mail"><br><br>
<textarea rows="10" cols="50" placeholder="write what you feel about us"></textarea><br>
<input type="submit" value="send">
</fieldset>
</td>
</table>
</form>
</body>
</html>